<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.danny270793.ufcevents" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UFCEvents</name>
    <description>Show UFC events</description>
    <author email="danny270793@icloud.com" href="https://danny270793.github.io">
        Danny Vaca
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <hook type="before_build" src="hooks/copy_web_build.js" />
    
    <icon src="www/icon.png" />
    <preference name="SplashScreenBackgroundColor" value="#2196f3" />
    <platform name="android">
        <preference name="Scheme" value="http" />
        
        <resource-file src="extras/network/network_security_config_debug.xml" target="app/src/debug/res/xml/network_security_config.xml" />
        <resource-file src="extras/network/network_security_config_release.xml" target="app/src/release/res/xml/network_security_config.xml" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    </platform>
</widget>
